.striked-row {
    text-decoration: line-through;
  }

.ant-table-thead .ant-table-cell{
    background-color: rgb(243 244 246) !important;
}
.ant-table-cell{
  border: solid 0.5px black !important;
  color: grey ;
}